body{
    background-color: darkcyan;
    margin-top: 50px;
}

.title {
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 45px;
	letter-spacing: 10px;
    margin-left: 80px;
}

#out {
	font-size: 15px;
	float: right;
}

.message_page label {
	color: black;
}

.message_page #msg {
	width: 80%;
}

.message_page button {
	margin-top: 15px;
	width: 50%;
}

.message_page {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: rgba(255, 255, 255, 0.8);
}